@charset "UTF-8";

//setting

@import "setting/fonts";
@import "setting/vars";
@import "setting/reset";
@import "setting/mixin";
@import "setting/common";

//section

@import "section/layout";
@import "section/header";
@import "section/search";
@import "section/today";
@import "section/music";
@import "section/video";
@import "section/book";
@import "section/anime";
@import "section/swiper";